/* htmlの周囲の余白を作る */
body {
  min-width: 50%;
  min-height: 100vh;
  margin: 20px; /* 外側の余白を40pxにする */
  padding: 0; /* 内側の余白を消す(念のため) */
    background: linear-gradient(135deg, rgba(255, 229, 79, 0.3), rgba(50, 135, 245, 0.3) ),url("https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_1280.jpg");
    background-size: cover;
  }
  
  /* h1(タイトル)のデザイン */
  h1 {
    font-size: 50px;
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fcfcfc; /*文字色*/
    border-bottom: solid 5px rgb(252, 252, 252, 0.3); /*下線*/
    text-align: center;
  }
  
  /* h2, h3(見出し)のデザイン */
  h2{
    font-size: 50px;
    margin: 20px;
    margin-top: 50px;
    color: #fcfcfc; /*文字色*/
    border-bottom: solid 5px rgb(252, 252, 252, 0.3); /*下線*/
    text-align: center;
  }

  h3 {
    font-size: 40px;
    margin: 20px;
    margin-top: 30px;
    color: #fcfcfc; /*文字色*/
    border-bottom: solid 5px rgb(252, 252, 252, 0.3); /*下線*/
    text-align: center;
  }
  
  p{
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: bold;
  }

  /* img(画像)のデザイン */
  img {
    margin: 20px;
  }
  
  /* form(ログイン時)のデザイン */
  form {
    width: 40%;
    margin: auto auto;
    margin-top: 20px;
    padding: 0.5em;
    /*background: rgba(0, 3, 39, 0.2); /*背景色*/
    border-radius: 20px;
    color: #ffffff;
  }
  
  /* table(表)のデザイン、以下も同様 */
  table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    table-layout: fixed;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: #fcfcfc;
  }
  
  table tr {
    padding: 0.35em;
    /*border-bottom: 2px solid #fff;*/
  }
  table th,
  table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #0315184d;
    border-right: 3px dotted #fff;
    border-left: 3px dotted #fff;
    
  }
  table th {
    font-size: 0.01em;
  }
  .txt {
    text-align: left;
    font-size: 0.01em;
  }

  #submit_bt{
      width: 200px;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 30px;
      border: none;
      background-color: #fcfcfc;
      color: #15aa96;
      cursor: pointer;
      margin: auto;
      transition: background 0.5s; 
  }
  #submit_bt:hover {
    box-shadow    : none;
    transition: background 0.5s;
    color         : #ffffff;
    background    : #15aa96;
  }

  #submit_txt{
      height: 50px;
      width: 100%;
      margin: auto;
      border: solid 0.5px #fcfcfc;
      border-radius: 10px;
  }
  .submit-field{
    display: flex;
    justify-content: center;
  }


  
  .container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
  }
  a {
    display: inline-block;
    width: 140px;
    height: 20px;
    text-align: center;
    background-color: #15aa96;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #15aa96;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  a:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background : #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
  }
  a:hover{
    color: #15aa96;
  }
  a:hover:after{
    height: 400%;
    opacity: 1;
  }
  a:active:after{
    height: 340%;
    opacity: 1;
  }
  
  @media screen and (max-width: 959px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    body {
      max-width: 100vh;
      margin: 20px; /* 外側の余白を40pxにする */
      padding: 0; /* 内側の余白を消す(念のため) */
      }
    h1 {
      width: auto;
    }

    form{
      width: 70%;
    }

    #submit_txt{
      height: 50px;
      
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
  }

  table {
    width: 100%;
    
  }

  #done-btn{
    width: 50px;
  }

  #done-btn:after{
    width: 100%;
  }

  table th,
  table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    overflow-wrap: break-word;
  }
  }