<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>みんなのToDoリスト</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href=@{/css/todo_css.css} />
</head>
<body>
    <h2>みんなのToDoリスト</h2>
    <p><a th:href=@{/{mid}/list(mid=${MemberID})}>戻る</a></p>
    <h3>ToDoリスト</h3>
    <table border="1">
        <tr>
            <td>番号</td>
            <td>作成者</td>
            <td>ToDo</td>
            <td>作成日時</td>
        </tr>
        <tr th:each="todo: ${AllToDoList}">
            <td>[[${todo.seq}]]</td>
            <td>[[${todo.mid}]]</td>
            <td>[[${todo.title}]]</td>
            <td>[[${todo.createdAt}]]</td>
        </tr>
    </table>
    
    <h2>完了リスト</h2>
    <table border="1">
        <tr>
            <td>番号</td>
            <td>作成者</td>
            <td>ToDo</td>
            <td>完了日時</td>
        </tr>
        <tr th:each="done: ${AllDoneList}">
            <td>[[${done.seq}]]</td>
            <td>[[${done.mid}]]</td>
            <td>[[${done.title}]]</td>
            <td>[[${done.doneAt}]]</td>
        </tr>
    </table>

</body>
</html>